:root {
    --color-main: #bc0d2d;
    --color-sub: #959d79;
}

/* header 시작 */
header {
    width: 100%;
    height: 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    box-sizing: border-box;
    background-color: #fff;
}
header ul {
    display: flex;
    gap: 50px;
}
header li {
    text-align: center;
}
header li a {
    color: #000;
    font-weight: bold;
    font-size: 18px;
}
header .logo {
    width: 50px;
}
header div {
    width: 500px;
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
}
header h4 {
    width: 70px;
    background-color: var(--color-main);
    border-radius: 30px;
    font-size: 18px;
    color: #fff;
    padding: 5px 10px;
    text-align: center;
}

/* visual 시작 */
.visual {
    width: 100vw;
    margin: 0px auto;
}
.visual_wrap {
    width: 80%;
    height: 600px;
    background-color: #f8f8f8;
    border-radius: 50px 50px 0 0;
    display: flex;
    margin: 0 auto;
    position: relative;
}
.visual_txt {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 200px;
}
.visual_txt h2 {
    font-size: 60px;
}
.visual_txt p {
    margin: 30px 0 50px;
}
.visual_txt ul {
    display: flex;
    gap: 30px;
}
.visual_txt ul li {
    width: 120px;
    padding: 10px;
    text-align: center;
    border: 1px solid #000;
    border-radius: 60px;
}
.visual_wrap img {
    width: 350px;
    height: 450px;
    position: absolute;
    right: 150px;
    top: 50%;
    transform: translateY(-50%);
}

/* nav 시작 */
nav {
    width: 500px;
    height: 700px;
    background-color: var(--color-main);
    border-radius: 20px;
    color: #fff;
    padding: 50px;
    position: absolute;
    top: 100px;
    right: 50px;
    display: none;
}
nav .close {
    display: flex;
    justify-content: flex-end;
    font-size: 35px;
    cursor: pointer;
}
nav > .menu > li {
    margin: 35px 0px;
    font-size: 40px;
}
nav > .menu > li a {
    color: #fff;
}

nav .sub {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}
nav div {
    width: 400px;
    height: 80px;
    border-radius: 20px;
    background-image: url(../img/mall.PNG);
    background-repeat: no-repeat;
    background-position: top;
    position: relative;
}
nav div::before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 20px;
    position: absolute;
}
nav div h4 {
    width: 230px;
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    font-size: 20px;
    color: #fff;
}
nav div .right {
    position: absolute;
    top: 50%;
    right: 200px;
    /* rigth 170px .on */
    transform: translateY(-50%);
    font-size: 20px;
    color: #fff;
    display: none;
}

/* container */
.container {
    width: 100%;
}
/* con1 */
.con1 {
    width: 1000px;
    margin: 100px auto;
}
.con1 h2 {
    font-size: 40px;
    text-align: center;
    margin-bottom: 50px;
}
.con1 iframe {
    width: 100%;
    height: 600px;
}
