@charset "utf-8";
* {
    margin: 0;
    padding: 0;
}
body {
    overflow-x: hidden;
    font-family: "TheJamsil3Regular";
    letter-spacing: 1px;
    word-break: keep-all;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: #222;
}
@font-face {
    font-family: "TheJamsil1Thin";
    src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil1Thin.woff2")
        format("woff2");
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: "TheJamsil5Bold";
    src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2")
        format("woff2");
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: "TheJamsil3Regular";
    src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil3Regular.woff2")
        format("woff2");
    font-weight: 400;
    font-style: normal;
}
